# Virtual environment
venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db